<!DOCTYPE html>
<html lang="en">
 <%- include("./partials/head.ejs") %>
<body>
    
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>This project describe the content of the blog that was posted by Allan Sami</p>
        <p>This project describe the content of the blog that was posted by Allan Sami</p>
        <p>This project describe the content of the blog that was posted by Allan Sami</p>
        <p>This project describe the content of the blog that was posted by Allan Sami</p>

        
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>