* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    margin: 0;
    /* padding: 15px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(159, 200, 245);
}

.logo {
    padding: 0;
    margin: 0;
    flex-basis: 20%;
    background:linear-gradient(to left, rgb(222, 224, 225), rgb(206, 218, 228), rgb(189, 207, 223));
    text-align: center;
}

.nav-content {
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(159, 200, 245); */
    padding: 8px;

}

.nav-content .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info .fa-bell-o {
    padding-right: 20px;
}

.menu-icon {
    /* display: block; */
    
}

.user {
    
    display: block;
    border-radius: 50%;
    background-color: rgb(247, 247, 36);
    padding: 8px;
}

.symbol {
    font-size: 18px;
    color: #fff;
}

.nav-content span {
    color: #fff;
}


/* ------------------------------------ Admin Main Content------------------------------- */

.main-content {
    width: 100%;
    display: flex;

}

.sub-list {
    background-color: rgb(69, 111, 132);
    /* display: none; */
    max-height: 0;
    transition: all .4s ease;
    overflow: hidden;
}

.options {
    float: right;
    margin: 8px auto;
    margin-bottom: 15px;
}

.options div {
    margin-top: 3%;
}

.options input {
    padding: 5px;
    outline: none;
}

.options input:focus {
    border: 2px solid sandybrown;
}

.sub1 {
    /* float: right; */
    margin: 2px;
    padding: 5px;
    width: 110px;
    color: white;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

#Sub1 {
    background-color: #F97F51;
}

#Sub2 {
    background-color: #1196fc;
}

.main-content aside {
    min-height: 100vh;
    flex-basis: 20%;
    background-color: rgb(45, 74, 88);
    /* overflow: hidden; */
}

.main-content aside .row {
    color: #fff;
    margin: 0 8%;
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fa-angle-left {
    cursor: pointer;
    transition: rotate .4s ease;
}

@keyframes rotate {
    from {
        transform: rotateX('0');
        color: #009432;
    }

    to {
        transform: rotateX('-90');
        color: #1471b8;
    }
}

.fa-angle-left:hover {
    /* transform: rotate('-90'); */
    /* animation-duration: 1s;
    animation-name: rotate;
    animation-timing-function: ease;
    animation-fill-mode: forwards; */

    
}

.row span {
    cursor: pointer;
}

.icon-1 {
    color: #ff6b81;
}

.icon-2 {
    color: #1e90ff;
}

.icon-3 {
    color: #FC427B;
}


.icon-4 {
    color: #55E6C1;
}

.icon-5 {
    color: #F97F51;
}


.icon-6 {
    color: #ffa801;
}

.icon-7 {
    color: #B53471;
}

.icon-8 {
    color: #EA2027;
}

.icon-9 {
    color: #009432;
}

.icon-10 {
    color: #C4E538;
}



/* ---------------------- Dashboard Main content  --------------------- */

.displayedContent {
    flex-basis: 80%;
    padding: 10px;
}

.displayedContent .header, .statistics {
    margin: 3%;
}

.statistics {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:  30px;
}

.statistics h1 {
    margin-bottom: 20px;
}

.header .main {
    font-size: 30px;
    padding-right: 15px;
}

.header .sub {
    font-size: 15px;
    color: #888;
}

.statistics-sub {
    color: #fff;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    transition: transform .5s ease;
}


.statistics-sub:hover {
    transform: translateY(10px);
}

.background{
    color: rgba(0,0,0, .3);
    font-size: 100px;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4% 2%;
}

.mainInfo .row {
    flex-basis: 70%;
}

.moreInfo {
    text-align: center;
    padding: 12px;
    cursor: pointer;
    transition: background-color .5s;
}



.moreInfo a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.customers {
    background-color: #25CCF7;
}


.customers .moreInfo {
    background-color: #1B9CFC;
}


.customers .moreInfo:hover {
    background-color: #1196fc;
}


.sellers {
    background-color: #FC427B;
}

.sellers .moreInfo {
    background-color: #f53b57;
}

.sellers .moreInfo:hover {
    background-color: #d8334c;
}

.sales {
    background-color: #2bb998;
}

.sales .moreInfo {
    background-color: #218c74;
}

.sales .moreInfo:hover {
    background-color: #1c705e;
}


.delivaries {
    background-color: #706fd3;
}

.delivaries .moreInfo {
    background-color: #474787;
}

.delivaries .moreInfo:hover {
    background-color: #333361;
}




/* ----- Customer ------- */



table {
    /* display : block; */
    width : 95%;
    margin: 3% auto;
    text-align: left;
}

tr {
    /* text-align: left;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px; */
}

th, td {
    padding: 13px 0;
}



/* Customers profile */

.sub-cont h1 {
    font-size: 23px;
    color: #333;
}

.displayedContent .sub-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:2% 3%;
}

.profile {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    align-items: flex-start;
}

.profile-image {
    flex-basis: 30%;
    text-align: center;
    border-top: 3px solid #1471b8;
    /* padding: 10px; */
}

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: inline-block;
    /* margin-top: 4%; */
    padding: 10px;
}

.profile-image h2, .profile-image h4 {
    margin-top: 2%;
}

.profile-image h4 {
    color: #888;
}


.profile-info {
    flex-basis: 68%;
    padding: 12px;
}

.info {
    display: block;
    width: 90%;
    margin: 25.5px 10px;
    padding: 10px;
    border: 1px solid rgb(183, 182, 182);
    outline: none;
}

#username:focus {
    outline:1px solid #1196fc;
}

#userMobile:focus {
    outline:1px solid #EA2027;
}

#userEmail:focus {
    outline:1px solid #009432;
}

#joinDate:focus {
    outline:1px solid chocolate;
}

#address {
    display: none;
}

.address {
    border: 2px solid #218c74;
    height: 200px;
}

.profile-info .icons span {
    padding: 12px 15px;
    margin-bottom: 3%;
    margin-right: 2%;
    display: inline-block;
}

.profile-info .sub-header {
    padding: 10px;
    padding-left: 2px;
    cursor: pointer;
}


.active {
    border-top: 3px solid #1471b8;
}



.personal-details {
    display: flex;

}

.icons {
    flex-basis: 50px;
}

.user-icon, .mobile-icon, .letter-icon, .calender-icon, .location-icon {
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    margin: 20px 2%;
    color: #fff;
}


.icon {
    font-size: 15px;
}
.user-icon {
    background-color: #1196fc;
}

.mobile-icon {
    background-color: #EA2027;
}

.letter-icon {
    background-color: #009432;
}

.calender-icon {
    background-color: chocolate;
}

.personal-details .user-info {
    flex: 1;
}

.location-icon {
    background-color: #218c74;
    position: relative;
    display: inline-block;
}

.location-icon::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    display: block;
    text-align: center;
    width: 2px;
    color: #222;
    height: 200px;
    z-index: 1;
}



@media only screen and (max-width: 840px) {
    
    .main-content {
        display: block;
    }

    .main-content aside {
        min-height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .main-content aside .row {
        flex-basis: 150px;
        margin: 0 2%;
        padding: 2%;
    }

}





@media only screen and (max-width: 660px) {
    .statistics {
        grid-template-columns: auto;
        grid-gap:  30px;
    }
}

